

.headinig--paraghraf{
    margin: auto auto;
    text-align: center;
  
}




.header-slider{
    margin: 60px auto;

}





.adv-logos{
    width: 100%;
    height: 30%;
    background-color: tomato;
}

section {
    padding: 90px 0;
}


.brend-box{
    display: flex;
    justify-content: center;
}

.brend-image{
    margin-right: 55px;
    width: 20%;
    border-radius: 5%;
    background-color: 
#F1F4FA;
}



/* services slide */

.service-slide{
    margin-bottom: 60px;
}

.services{
    padding: 90px 0;
    background-image: url(https://liderservice.net/front/images/bg/bg.jpg);
    background-size: cover;
}

.service-heading{
    text-align: center;
} 

.service-heading h2{
   
   margin-bottom: 50px;
   display: inline-block;
   
}

/* 
.service-slide-item{
    margin-right: 30px;

} 
*/


.service-slide-item .item{
    margin:0 30px;
    margin-top: 1rem;
    transition: all .5s;
      
}

.service-slide-item .item:hover {
   transform: translateY(-1rem);
}




.item .card{
    display: flex;
    align-items: center;
    min-height: 280px;
    padding-top: 20px;
    position: relative;
    flex-direction: column;
    border-radius: 0.25rem;
    word-wrap: break-word;
    box-shadow: 0px 6px 12px rgba(0, 49, 82, 0.20);
    background: url(../imgage/coverPhoto.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
    background-position: center;
    min-width: 0;
}


.item .card a{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}



.item .card img{
    width: initial;
    display: block;
    vertical-align: middle;
    border-style: none;
}





.card .service-icon{
    background: white;
    width: 80px;
    height: 80px;
    clip-path: circle(50% at 50% 100%);
     position: absolute;
     bottom: 0;
     top: auto;
      /* transform: all .3s; */
}

.card .service-icon i {
    position: absolute;
    bottom: 10px;
    top: auto;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.1rem;
    color: #034A78;
    transition: all .3s;
}

.service-icon::before{
    content: "";
    background: white;
    width: 0px;
    height: 230px;
    clip-path: circle(50% at 50% 100%);
     position: absolute;
     bottom: 0;
     top: auto;
      transform: all 1s;
      transition: 1s all;
      transition: all .5s;
}



.card:hover .service-icon::before{
    content: "";
    background: #034A78;
    clip-path: circle(50% at 50% 100%);
     position: absolute;
      width: 80px;
      height: 120px;
     bottom: 0;
     top: auto;
     width: 80px;
    height: 80px;
}

.card:hover  i{
    color: white;
  
}




.btn-div {
    text-align: center;
    margin-top: 10px;
}


 .btn-div .button{
    /* display: inline-block; */
     background-color: #0071BB;
     border-radius: 4px;
     color: #fff;
     padding: 10px 27px;
     text-decoration: none;
     border-radius: 3px;
     box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
     min-width: 125px;
     
 }


.service-heading-2{
    margin-top: 100px;
}





/*  */
.brend-box{
    transition: all .8s;
}

.brend-image{
    position: relative;
}


.brend-image  {
   
    width: 100%;
    overflow: hidden;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
    backface-visibility: hidden;
    transition: all .8s;
    
}

.brend-image  img{
    width: 100%;
    vertical-align: middle;
    border-style: none;
}




.brend-box :hover  {
    transform: translateY(-.5rem);      
}
   
.brend-box :hover img {
    transform: translateY(0rem);      
}


#map2 {
    background-image: url(https://liderservice.net/front/images/bg/xerite.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 90px 0;
}
    

.map--title{
    display: flex;
    justify-content: center;
}

.map--title h2{
    color: white;
    font-weight: 500;
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
}

.map--title h2::before{
    left: -50px;
}
.map--title h2::after{
    right: -50px;
}

.map--title h2::before, .map--title h2::after{
      content:'';
      position:absolute;
      width: 35px;
      height: 2px;
      background: #F32735;
      top: 50%;
}


.map--essential{
    margin-top: 30px;
    width: 100%;
    height: 450px;
     display: flex;
     justify-content: center;
}


/* section-about */

section{
    padding: 90px 0;
}

#about {
    position: relative;
    background-image: url(https://liderservice.net/front/images/bg/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    padding: 90px 0;
    
}
#about .row {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    position: relative;
    margin-bottom: 46px;
}

.about-image{
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 0 4px 4px rgb(0 0 0 / 15%);
}

#about p{
    margin-top: 0;
    margin-bottom: 1rem;
}
.about-block{
    display: flex;
}
.about-block-image{
    width: 170px;
    height: 73px;
 
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: #E2F0FA;
    border-radius: 50%;
    margin-right: 15px;
   
}


.about-block-image img{
    vertical-align: middle;
    border-style: none;
}


/* faq */
#faq{
    background-image: url(https://liderservice.net/front/images/bg/bg.jpg);
    min-height: 1250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 90px 0;
}    
 
.product--main{
   border: none;
   border-radius: 0;
   box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
   position: relative;
   display: flex;
   flex-direction: column;
   min-width: 0;
   word-wrap: break-word;
   background-color: #fff;
   background-clip: border-box;
   margin-right: 20px;
   margin-left: 20px;
}

.product--main .product--main__image{
    margin-bottom: 0;
    background-color: rgb(0,0,0 .03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.portfolio-galery{
  position: absolute;
  top: 0;
   left: 0;
   right: 50%;
   bottom: 0;
}

.product--main__image img{
   display: block;
   width: 100%;
}

.product--main__para{
    background: url(../imgage/Rectangle\ 392.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 11px 15px;
}




.product--main__para p{
    color: white;
    font-size: 15px;
    margin-bottom: 0;
}



/* portfolio-2 */

.portfolio-2{

    margin-top: 120px;
    /* display: flex; */
    justify-content: end;
    position: relative;
}


.portfolio-2 .container::before{
    content: "";
     position: absolute;
     background-image: url(../imgage/Frame.png);
     width: 180px;
     height: 138px;
     left: 100px;
     top: -60px;

   
}





.box{
    display: flex;
    justify-content: end;
    position: relative;
    left: 0;
 
   
}

.box--images{
   position: absolute;
   left: 0;
   
}

.box--image__1{
    margin-top: 10px;
}

.box--image__2{
    position: absolute;
    top: 50%;
    left: 50%;
}


.box--image__2 img{
   border: 15px solid white;
 }


 
.box--text{
    margin-top: 10px;
    width: calc(100% - 480px);
}
















 









