
.contact{
    padding: 90px 0;
    background-image: url(https://mttservice.net/front/images/bg/contact.jpg);
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}


.contact .row{
    display: flex;
    flex: wrap;
    /* margin-right: -15px;
    margin-left: -15px; */
  
}

.contact .col-lg-7{
    
    padding: 30px 0px 30px 0px;    
}


.contact .col-lg-7 .bg-1{
    padding: 25px  35px;
    background-image: url(https://mttservice.net/front/images/bg/contact-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 0 0 10px;
}


.contact .control{
    width: 100%;
    padding: 0.3rem 0.7rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
}


.contact input {
    border:none;
    background-color: transparent;
    margin-bottom: 40px;
    border-bottom: 1px solid #979797;
    border-radius: none;
    height: 40;
    outline: none;
}

.selection{
    width: 100%;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.selection select{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #979797;
    padding: 0.3rem 0.7rem;

}


.contact button{
    padding: 6px 35px;
    background: #0071BB;
    border:1px solid#0071BB;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(black .8);
    color: white;
    font-size: 15px;
    margin-top: 10px;
    font-weight: 500;
}


.contact .col-lg-5{
    
    padding: 30px 0px 30px 0px;    
}


.bg-2{
    padding: 25px  35px;
    background-image: url(https://mttservice.net/front/images/bg/contact-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border-radius: 0 10px 10px 0;
}


.bg-2 h2{
    margin: 15px;
    margin-left: 25px;
    
}

.bg-2 ul{
    list-style-type: none;
}
.bg-2 ul .num {
    margin: 6px 0;
}


.bg-2 ul .mail{
    margin: 18px 0;
}

.bg-2 ul li a{
    color: white;
    text-decoration: none;
    transition: all .7s;
}

.bg-2 ul li a:hover{
    color: #dc3545;
}
