

/* slider */
/* headr-top */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    line-height: 45px;
    font-weight: 200;
}

.header-top{
    background-color: #2B343B;
}


.header-top .container{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    
}


.header-top__left a{
    text-decoration: none;
    color: white;
    transition: all .5s;
}

.header-top__left a:not(:last-child){
    margin-right: 65px;
}




.header-top__right{
    padding: 10px 0;
    display: flex;
}


.header-top__right a{
    color: white;
    text-decoration: none;
    transition: all .5s;
}


.header-top__right .header-social-link{
    margin-left: 30px;
    padding-left: 20px;
    border-left: 1px solid white;
}


.header-top__right .header-social-link a{
    margin-left: 15px;
    transition: all .5s;
}


.header-top__right .header-social-link a i{
    font-size: 17px;
}


.header-top__left a:hover{
    color: #dc3545;
}
.header-top__right a:hover{
    color: #dc3545;
}

/* header-center */

.header-center{
    padding: 24px 0;
    background-color: #EFF4F8;
}


.header-center .container{
    display: flex;
    -webkit-box-pack: justify;  /*webkit:justify-contentin calismasi ucun*/
    justify-content: space-between;
    -webkit-box-align: center; /*webkit:align-itemin calismasi ucun */
    align-items: center;
}


.header-center__link a{
    color: #007bff;
    background-color: transparent;
}


.header-center .header-center__phones{
    display: flex;
    width: 50%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-center .header-center__phones a{
    width: 50%;
    text-decoration: none;
    color: black;
    transition: all .3s;
    font-weight: 500;
    display: inline-block;
}

.header-center .header-center__phones a:first-child{
    border-right: 1px solid #DCE0E9;
    text-align: left;
    padding-bottom: 10px;
}
.header-center .header-center__phones a:nth-child(3){
    border-right: 1px solid #DCE0E9;
    text-align: left;
    padding-bottom: 0;
}
.header-center .header-center__phones a:nth-child(2){

    text-align: right;
    padding-bottom: 10px;
}
.header-center .header-center__phones a:nth-child(4){

    text-align: right;
    padding-bottom: 0;
}


.header-center .header-center__phones a:hover{
    color: #dc3545;
}

.header-center .header-center__phones a i{
    color: #0071BB;
    font-weight: 100;
}


/* nav */
nav{ 
 
   
    background: linear-gradient(90deg, #016BAF 0%, #034A78 100%);
    

}


nav .container > div{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: center;
}


nav .container div .mobile-contact{
    display: none;
}


nav .container div .menu{
    width: calc( 100% - 90px );
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    list-style-type: none;
    margin-bottom: 0 !important;
   
    
}


nav .container div .menu > li{
      position: relative;
      
}


nav .menu a{
    font-weight: 500;
    display: block;
    padding: 15px 0;
    color: white;
    text-decoration: none;
    
}

/* nav .menu li::before{
    content: "";
    width: 5px;
    height: 5px;
    background-color: white;
    position: absolute;
    left: -11px;
    top: 24px;
} */

nav .menu> li >a::before{
    content: "";
    width: 0;
    height: 1px;
    background: white;
    position: absolute;
    transition: all .5s linear;
    bottom: 14px;

}

nav .menu >li a:hover::before{
    width: 100%;
}

 .container div .lang{
    width: 90px;
    position: relative;
    list-style-type: none;
    margin: auto 0;
}



div .lang li{
   text-decoration: none;
   font-weight: 500;
   color: white;
   
}

/* dropdown */

.dropdown{
    position: relative;
}



.dropdown .dropdown-menu{
    width: 200px;
    min-height: 250px;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: #0071BB ;
    z-index: 15;
    display: block;
    transition: all 200ms ease;
  
}


.dropdown .dropdown-menu    {
    margin: 10px 0;
    visibility: hidden;
}
.dropdown .dropdown-menu li{
    padding: 5px 0;
    cursor: pointer;
}

.dropdown .dropdown-menu li a{
   padding: 2px 5px;
   font-size: 17px;
   width: 75%;
   margin: 0 auto;
   border-bottom: 1px solid white;
}

.dropdown .dropdown-menu li a :last-child{
    border-bottom: none;
}


.dropdown:hover .dropdown-menu{
    visibility: visible;
    top: 40px;
    
}






.slide {
    width: 100%;
    height: 80vh;
    background-image: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg");
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-repeat: none;
    width: 100%;
    height: 90vh;
}

.swiper-slide .img {
    display: block;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
}


/*  */