.marks{
    width: 100%;
    margin: 0 auto;
}


.main--sliders .header .header-slider{
    margin: 0 auto;
}
.main--sliders .header .header-slider .headinig--paraghraf{
    text-align: center;
   
}





/* .slick-next::before{
  
    color: grey !important;
}
.slick-prev{
    margin-left: 2px;
}
.slick-next{
    margin-right: 2px;
}
.slick-prev::before{
  
    color: grey !important;
} */